
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: url('IMG/Background.png') repeat-y center center;
}


/* Navbar CSS here */
#navbar__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.pos-navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 10px 20px; /* Adjusted for responsiveness */
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background: #ee0979; 
  background: -webkit-linear-gradient(to left, #ff6a00, #ee0979); 
  background: linear-gradient(to left, #ff6a00, #ee0979); 
}

.pos-navbar__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.pos-navbar__logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.pos-navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.pos-navbar__item {
  margin-left: 20px;
}

.pos-navbar__links {
  position: relative;
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px; /* Adjusted for responsiveness */
}

.pos-navbar__links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.pos-navbar__links:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
  /* Navbar CSS here */


/* Adding Menu CSS */
button {
    padding: 10px 20px;
    background-color: #fa8888;
    color: rgb(255, 219, 219);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

button:hover {
  background: #ee0979; 
  background: -webkit-linear-gradient(to left, #ff6a00, #ee0979); 
  background: linear-gradient(to left, #ff6a00, #ee0979); 
  color: #ddd;
}

/* Menu Section */

#menu-list {
    list-style: none;
}

#menu-list li {
    background: #000000;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #000000;
    border-radius: 5px;
    position: fixed;
}

#menu-list li button {
    margin-left: 10px;
}


/* Admin Section for Inventory Management */
.menu-container {
  background: #000000;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffff;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.menu-container h2 {
  color: #131313;
  padding: 10px 10px 20px 0;
}
h3 {
  color: #131313;
  padding: 0 0 20px 20px;
  font-size: 2rem;
  background: #ffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
}

.menu-container .form-group {
  margin-bottom: 15px;
}

.menu-container label {
  margin-bottom: 5px;
  font-weight: bold;
}

.menu-container input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}


#inventory-list {
  list-style: none;
  padding: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#inventory-list li {
  margin: 10px auto; /* Center vertically and horizontally */
  padding: 25px;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(247, 28, 28, 0.6), rgba(255, 36, 36, 0.9)), url('IMG/Background.png') no-repeat center center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 1.2rem;
  width: 70%; /* Adjust the width as needed */
}

.button-container {
  display: flex;
  gap: 10px;
}

#inventory-list li button {
  margin-left: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}




/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: linear-gradient(rgba(247, 28, 28, 0.5), rgba(255, 36, 36, 0.7)), url('IMG/Background.png') no-repeat center center;
  background-size: cover;
  margin: 15% auto;
  padding: 50px;
  border: 1px solid #888;
  border-radius: 22px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: 500;
}

.form-group label {
  flex: 1;
  margin-right: 10px;
  color: #ddd;
  font-size: 17px;
}

.form-group input {
  flex: 2;
  max-width: 60%;
  border-radius: 7px;
  border: none;
  padding:  6px 6px;
}

#submit-button {
  display: flex;
  justify-content: center; /* Center the button */
  margin-top: 20px; /* Add space between the input and button */
  align-items: center;
}

#submit-button {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fa0000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

#submit-button:hover{
  background: #f84701; 
  color: #fff;
}

/* Close button styles */
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 0, 0);
  font-size: 38px;
  font-weight: 500;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.close-button:hover,
.close-button:focus {
  color: white;
  background-color: #f80000;
  text-decoration: none;
  cursor: pointer;
}
